/* 기본 구조 */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* nav */

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 1;
    background: white;
    align-items: center;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
header button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
}
header h1 button {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #a7e0a5;
    padding-bottom: 5px;
}
header h1 button span {
    color: #000;
}
header nav{
    height: 100%;
}
header nav ul{
    display: flex;
    height: 100%;
}
header nav ul li{
    display: flex;
    padding: 0 50px;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header nav ul li a{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    transition: all .2s;
}
header nav ul li .line{
    width: 40%;
    height: 0.3rem;
    background: linear-gradient(90deg,#11998e,#38ef7d);
    position: absolute;
    bottom: 0;
}
header nav ul li a i {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
header nav ul li:hover a{
    font-weight: bold;
}
header nav ul li .dropdown {
    display: none;
}
header nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    top: 80%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 5px #717171;
}
header nav ul li:hover .dropdown ul{
    display: block;
}
header nav ul li:hover .dropdown ul li{
    margin: 0.8rem 0.5rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
header nav ul li:hover .dropdown ul li:hover{
    background-color: #f4f4f4;
}
header nav ul li:hover .dropdown ul li a{
    font-weight: 400;
    transition: all .2s;
    padding: 0.75rem 0;
    font-size: 0.8rem;
}
header nav ul li:hover .dropdown ul li:hover a{
    color: #54c242;
    font-weight: bold;
}
header button i {
    font-size: 1.2rem;
    color: #717171;
}

/* main */
main {
    margin-top: 75px;
    width: 100%;
    height: calc(100vh - 75px);
    background: url(../UnicornGradients/UnicornVectorGradient_1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
main h2{
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
    font-family: 'Kaushan Script', cursive;
    color: rgb(20, 20, 20);
}

main p{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: rgb(60, 60, 60);
}
main button.start{
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    margin-top: 4rem;
    background-color: #38ef7d;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
main button:hover.start{
    background-color: #34df75;
}
main button.down {
    background-color: transparent;
    border: none;
    color: rgb(60, 60, 60);
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: upDown 1s ease-in-out infinite;
}
@keyframes upDown{
    0%{
        bottom: 2rem;
    }
    50%{
        bottom: 3rem;
    }
    100%{
        bottom: 2rem;
    }
}

/* section */
section {
    font-family: 'Roboto', sans-serif;
    padding: 5rem 0;
}

section:nth-child(2n+1){
    background-color: #f8f8f8;
}

/* intro */
section .intro-con::after{
    content: "";
    display: block;
    clear: both;
}
section .intro-con .intro-inner{
    width: 30%;
    padding: 2rem;
    float: left;
    margin-right: 5%;
}
section .intro-con .intro-inner:last-child{
    margin-right: 0;
}
section .intro-con .intro-inner h4{
    font-size: 1.25rem;
    color: #aaaaaa;
}
section .intro-con .intro-inner h3{
    font-size: 2.5rem;
    margin: 1rem 0 1.5rem 0;
    color: #555555;
}
section .intro-con .intro-inner p{
    font-size: 1rem;
    line-height: 1.8;
}

/* board */
section .title{
    display: flex;
    justify-content: center;
    padding: 2rem 0 6rem 0;
}
section .board-con::after{
    content: "";
    display: block;
    clear: both;
}
section .board-con .board-inner{
    width: 30%;
    height: 476px;
    padding: 0 0 2rem 0;
    float: left;
    margin-right: 5%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #717171;
}
section .board-con .board-inner:hover,
section .board-con .board-inner:focus{
    animation: updownboard 1s ease-in-out;
}
section .board-con .board-inner:last-child{
    margin-right: 0;
}
section .board-con .board-inner .img{
    width: 100%;
    height: 60%;
}
section .board-con .board-inner .img img{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
}
section .board-con .board-inner .content{
    padding: 1rem 1.5rem;
    height: 40%;
}
section .board-con .board-inner .content h3{
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 2.4em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}
section .board-con .board-inner .content p{
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 3.6em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
  
}
section .more{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 12rem 0 0 0;
    cursor: pointer;
    font-size: 1.2rem;
}
section .more p {
    font-weight: bold;
}
section .more i{
    font-weight: bold;
}
@keyframes updownboard{
    0%{
        margin-top: 0;
    }
    50%{
        margin-top: -1rem;
    }
    100%{
        margin-top: 0;
    }
}

/* associate */

/* bottom */
section .bottom-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

section .bottom-nav h3{
    font-weight: bold;
    font-size: 1.5rem;
    color: #a7e0a5;
}
section .bottom-nav h3 span{
    color: #000;
}
section .bottom-nav ul{
    display: flex;
}
section .bottom-nav ul li{
    padding: 0 25px;
}
section .bottom-nav ul li a{
    font-family: 'Roboto', sans-serif;
    color: #717171;
    font-weight: bold;
    font-size: 0.9rem;
}
section .bottom-nav ul li:hover a{
    color: #000;
    transition: all 0.3s ease-in-out;
}
section .bottom-info{
    padding: 0 0 0 0;
}
section .bottom-info p{
    color: #717171;
    font-weight: bold;
    font-size: 0.7rem;
}
section .bottom-info h4{
    color: #717171;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.5rem 0 1.5rem 0;
}
section .bottom-line {
    width: 100%;
    height: 1px;
    background-color: #aaaaaa;
}
section .bottom-sns{
    padding: 0.8rem 0;
    display: flex;
    justify-content: flex-end;
}
section .bottom-sns a{
    margin-left: 1rem;
    font-size: 1.75rem;
}



